@{
    ViewData["Title"] = "About Us";
}
<h1>@ViewData["Title"]</h1>

<h2>Empowering Your Inventory Management</h2>

<p>As the enterprise IT management division of Airis Corp., InvSysMan aims to empowers you to take control of your IT, from your security, networks, and servers to your applications, service desk, Active Directory and desktops.</p>

<p>We make your business more stable by serving as a reliable, long-term partner that has been in the IT management arena since 2002 and will be in that arena as long as IT remains relevant to you and your business.</p>


<h2>FAQ</h2>

<h3>Why Choose InvSysMan?</h3>
<ul>
    <li>Proven track record of success since 2002.</li>
    <li>Intuitive and easy-to-use interface.</li>
    <li>Dedicated customer support team.</li>
    <li>Customizable solutions to meet your specific needs.</li>
</ul>

<h3>What we do with your information</h3>



<p>We use your information to provide the services you've requested, create and maintain your accounts, and keep an eye out for unauthorized activity on your accounts. We also use it to communicate with you about the products you're currently using, your customer support requests, new products you may like, chances for you to give us feedback, and policy updates. We analyze the information we collect to understand user needs and to improve our websites and services.</p>

<p>We're required to have a legal basis for collecting and processing your information. In most cases, we either have your consent or need the information to provide the service you've requested from us. When that's not the case, we must demonstrate that we have another legal basis, such as our legitimate business interests.</p>
